flare_removal/training
flare_removal/python/remove_flare_224.py
.idea/
wandb
flare_free/data/
flare_free/downsampled_data_v2/
flare_free/downsampled_test/
flare_free/downsampled_train/
flare_free/downsampled_val/
flare_free/real/
flare_free/synthetic/
flare_removal/python/__pycache__
flare_removal/trained_models/
flare_removal/model_tests/
lens-flare/combined/
lens-flare/downsampled_flares
lens-flare/downsampled_flares_v2/
.nfs00000000039600380000ca3c
